.button{
    background-color: #47b66a;
    font-weight: bold;
    color: white;
    font-size: 20px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    border: solid black;
    cursor: pointer;
}