@import url("global.scss");

.selectArea{

    form{
        display: flex;
        flex-direction: column;
        align-items: center;

        .choice{
            display: grid;
            grid-template-columns: 40px 1fr;
            grid-template-rows: 25px repeat(3, 15px) 40px 80px 80px;
            grid-column-gap: 15px;
            align-items: center;
            min-width: 290px;
            width: 80%;
            max-width: 400px;

            .fillIn{ //this div allow the information on the grid to be alligned
                grid-row: span 3;
            }

            .selectFormIcon{
                justify-self: center;
            }

            .startPoint{
                height: 15px;
                width: 15px;
                border-radius: 10px;
                border: solid black;
            }

            .dot{
                height: 8px;
                width: 8px;
                border-radius: 4px;
                background-color: black;
            }

            .positionIcon{
                height: 40px;
            }

            .clockIcon{
                height: 40px;
            }

            .calendarIcon{
                height: 35px;
            }

            .selectField{
                background-color: white;
                border: solid #eee;
                font-size: 18px;
                border-radius: 5px;
            }
            #dateTime{
            }

            .datePicker{
            } 
            
            .timePicker{
            }
    
        }

    }
}