.component {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 3px solid #47b66a;
    border-radius: 10px;
    background-color: #f2f2f2;
    min-width: 290px;
    width: 70%;
    max-width: 400px;
    padding: 10px;
    margin: 0 auto 0 auto; //center the div
    font-size: 18px;

    .mainbox {
        display: flex;
        align-items: center;
        width: 100%;

        .infos{
            margin-left: 20px;
            width: 100%;

            .times{
                display: flex;
                justify-content: space-between;
                
            }

        }
    }

    .expandedPart{
        margin-top: 15px;
        display: flex;
        width: 100%;
        //border: solid blue;


        .icons{
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 65px; //to have the icons center compared to the line letter
            //border: solid red;

            .startItem{
                height: 15px;
                width: 15px;
                border-radius: 10px;
                border: solid #47b66a 3px;
                //margin-bottom: 2px;
                margin-top: 1.5px; //to be ligned with the name
            }

            .dot{
                height: 8px;
                width: 8px;
                border-radius: 4px;
                background-color: black;
                margin-top: 4px;
                margin-bottom: 4px;
            }

            .stopIcon{
                height: 10px;
                width: 10px;
                border-radius: 5px;
                background-color: #47b66a;
                margin-top: 4px;
                margin-bottom: 4px;
            }

            .positionIcon{
                //margin-top: 3px;
                height: 40px;
            }
        }

        .text{
            //border: #47b66a solid;
            width: 100%;
            margin-left: 20px;
            

            .stopAndTime{
                display: flex;
                justify-content: space-between;
                //border: solid green;

                &:first-child{
                    margin-top: 0;
                    padding-bottom: 1px;
                }

                margin-top: 25.75px;
                margin-bottom: 25.75px; //to mat

                &:last-child{
                    padding-top: 10px;
                }
            }
        }

        
    }
}